@use "base" as *;

.navbar {
    position: relative;
    z-index: 20;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            // left: 0;
            left: -50vw;
            transition: left .8s cubic-bezier(1,0,0,1); // allow us to make custom transition

            @media(max-width: 800px){
                display: none;
            }

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, .4);
                opacity: .7;
                border-radius: 10px;

                @media(max-width: 1300px){
                    width: 55%;
                }

                @media(max-width: 1000px){
                    width: 65%;
                }
            }

            .left-img-1{
                top: 15%;
                left: 15%;

                @media(max-width: 1000px){
                    left: 5%;
                }
            }

            .left-img-2{
                top: 35%;
                left: 25%;

                @media(max-width: 1000px){
                    left: 15%;
                }
            }

            .left-img-3{
                top: 55%;
                left: 35%;

                @media(max-width: 1000px){
                    left: 25%;
                }
            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: darken($color-dark, 3.5%);
            // background-color: #1d1f1f;
            position: fixed;
            // right: 0;
            right: -50vw;
            @include flexLayout;
            transition: right .8s cubic-bezier(1,0,0,1);

            @media(max-width: 800px){
                width: 100vw;
                right: -100vw;
            }
        }

        .nav-list {
            &-item{
                list-style: none;
            }

            &-link{
                font-family: $font-dancingScript;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;

                //link is an in-line element therefore we cant use margin
                display: block;
                margin: 20px;
                text-align: center;
                transition: all .5s;

                &:hover{
                    color: $color-primary;
                    letter-spacing: 4px;

                }

                @media(max-width: 600px){
                    font-size: 40px;
                }
            }
        }
    }
}
//general sibling combinator
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;
    .brand{
        @include flexLayout;
    }
   .main-name{
       color: $color-secondary;
       @include textStyles();
       font-family: $font-nunito;
       font-size: 50px;
   }
   .sub-name{
    color: $color-secondary;
    @include textStyles();
    font-family: $font-nunito;
    font-size: 20px;
    text-align: center;
   }
   &-banner{
       text-align: center;
   }
   .main-heading{
    color: $color-primary;
    font-family: $font-dancingScript;
    font-size: 100px;
    font-weight: 300px;
   }
   .sub-heading{
       color: $color-secondary;
       font-family: $font-josefinSans;
       font-size: 40px;
       font-weight: lighter;
   }
}
.logo{
    font-size: 70px;
    color: $color-primary;
   @include widthAndHeight;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin-right: 20px;
    text-decoration: none;
    @include flexLayout;
    & img{
        @include widthAndHeight;
    }
}
.about-us{
    @include flexLayout;
    background-color: $color-dark;
    overflow: hidden;
    height: 90vh;
    &-left{
        width: 40%;
        position: relative;
        left: -130px;
    }
    &-left img{
        width: 100%;
    }
    &-right{
        width: 60%;
        text-align: center;
    }
    &-right h1{
     color: $color-primary;
     font-family: $font-dancingScript;
     font-size: 80px;
     margin: 0;
    }
    &-right h3{
        color: $color-secondary;
        font-family: $font-nunito;
        @include textStyles(capitalize);
        font-size: 30px;
    }
   
    &-right .stars{
        color: $color-primary;
        margin-bottom: 1rem;
    }
    &-right .description{
        color: $color-secondary;
        font-family: $font-nunito;
        margin-bottom: 1rem;
        font-size: 18px;
        font-style: italic;
    }
}
.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    .card{
        width: 33.3333%;
        position: relative;
        overflow: hidden;
        &-img{
            width: 100%;
        }
        &-overlay{
            display: none;
        }
        &-img:hover &-overlay {
            display: block;
        }
    }
}
.footer{
    background-color: $color-dark;
    text-align: center;
    height: 60vh;
    &-header{
        @include flexLayout;
        padding-top: 3rem;
    }
    .main-name{
        color: $color-secondary;
        font-family: $font-josefinSans;
        @include textStyles
    }
    .sub-name{
        color: $color-secondary;
        font-family: $font-josefinSans;
        @include textStyles
    }
    .social-media{
        @include flexLayout
    }
    .social-media-item{
        list-style: none;
        padding: 1rem;
    }
    .social-media-link{
        color: $color-secondary;
        text-decoration: none;
        font-size: 50px;
    }
    &-copyright-paragraph{
        color: $color-secondary;
        font-family: $font-josefinSans;
    }
}
