@use "../base/base" as *;

.about-us{
    @include flexLayout;
    background-color: $color-dark;
    overflow: hidden;
    height: 90vh;
    &-left{
        width: 40%;
        position: relative;
        left: -130px;
        @media (max-width: 40rem) {
            width: 0;   
          }
    }
    &-left img{
        width: 100%;
        opacity: .6;
        @media (max-width: 40rem) {
               display: none;      
             }
    }
    &-right{
        width: 60%;
        text-align: center;
        box-sizing: border-box;
        @media (max-width: 40rem) {
            width: 100%;  
            text-align: center;
          }
    }
    &-right h1{
     color: $color-primary;
     font-family: $font-dancingScript;
     font-size: 80px;
     margin: 0;
     @media (max-width: 40rem) {
       font-size: 40px;
      }
    }
    &-right h3{
        color: $color-secondary;
        font-family: $font-nunito;
        @include textStyles(capitalize);
        font-size: 30px;
        @media (max-width: 40rem) {
            font-size: 18px;
           }
    }
   
    &-right .stars{
        color: $color-primary;
        margin-bottom: 1rem;
    }
    &-right .description{
        color: $color-secondary;
        font-family: $font-nunito;
        margin-bottom: 1rem;
        font-size: 18px;
        font-style: italic;
        @media (max-width: 40rem) {
            font-size: 16px;
           }
    }
}
.cards-wrapper{
    // height: 500px;
    display: flex;
    flex-wrap: wrap;
    .card{
        width: 33.3333%;
        position: relative;
        overflow: hidden;
        &-img{
            width: 100%;
            height: 100%;
            transform: scale(1.2);
            opacity: .6;
        }
        &-overlay{
           display: none;
           position: absolute;
           z-index: 10;
           top:0;
        //    left: -100%;
           width: 100%;
           height: 100%;
           background-color: $color-primary;
           text-align: center;
           opacity: .6;
           transition: left 0.7s;
        }
        &-overlay-heading{
            color: $color-white;
            font-family: $font-nunito;
           
        }
        &-overlay-paragraph{
            color: $color-white;
            font-family: $font-nunito;
            
        }
    }
    .card:hover  .card-overlay{
        display: block;
        // left: 100%;
    }
}
